<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main Design Static Page</title>
</head>
<body>
    <div th:fragment="logo_banner">Online Shop</div>
    <div th:fragment="main_menu">
      <span><a th:href="@{/}">Home</a></span>
      <span><a th:href="@{/all_products}">Product List</a></span>
    </div>
    <div th:fragment="side_column">Side Column</div>
    <div th:fragment="stub">Main Content</div>
    <div th:fragment="footer">&copy;2024 DP</div>
</body>
</html>