<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script>
        function AddProduct() {

            var id = $("#product_id").val();
            var name = $("#product_name").val();
            var aisle = $("#aisle").val();
            var bay = $("#bay").val();
            var stock_quantity = $("#stock_quantity").val();

            if (id == -1) {
                $.ajax({
                   type    : "POST",
                   url     : "/product/",
                   dataType: "json",
                   // name=Test%20Product%205&store_id=1&aisle=12&bay=13&stock_quantity=10
                   data: {
                       name: name,
                       aisle: aisle,
                       bay: bay,
                       stock_quantity: stock_quantity,
                       store_id: 1
                   },
                   success: function(data) {
                        //window.location.replace("all_products_table.html");
                        // alert("post function result");
                },
                   complete: function(data) {
                        // alert("complete");
                        window.location.href = "/all_products_table.html";
                   }
                   });
            } else {
                //update product with PUT REST request

                $.ajax({
                   type    : "PUT",
                   url     : "/product/",
                   dataType: "json",
                   // name=Test%20Product%205&store_id=1&aisle=12&bay=13&stock_quantity=10
                   data: {
                        id: id,
                       name: name,
                       aisle: aisle,
                       bay: bay,
                       stock_quantity: stock_quantity,
                       store_id: 1
                   },
                   success: function(data) {
                        // window.location.replace("all_products_table.html");
                        // alert("put function result");
                   },
                   complete: function(data) {
                        // alert("complete");
                        window.location.href = "/all_products_table.html";
                   }
                   });

            }

            }
    </script>
    <meta charset="UTF-8">
    <title>Add Product</title>
</head>
<body>
    <form>
        <input type="hidden" id="product_id" th:value="${id}">
        <ul>
            <li>
                Name: <input th:value="${product_name}" id="product_name">
            </li>
            <li>
                Aisle: <input th:value="${aisle}" id="aisle">
            </li>
            <li>
                Bay: <input th:value="${bay}" id="bay">
            </li>
            <li>
                Quantity: <input th:value="${stock_quantity}" id="stock_quantity">
            </li>
        </ul>
        <input type="button" value="Submit" onclick="AddProduct()">
    </form>
</body>
</html>