<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script type="text/javascript" src="/js/updateCartLine.js"></script>
  <link rel="stylesheet" href="./css/style.css" th:href="@{/css/style.css}">
  <meta charset="UTF-8">
  <title>Cart</title>

  <script>

const successfulDelete = () => {
    alert("successful delete");
    updateTable();
    updateLineQuantity();
}

const deleteLine = (product_id) => {

                        if (confirm("Are you sure you want to delete product " + product_id + " from your cart?")) {

                        $.ajax({
                            url: "/cart/temp_cart?product_id="+product_id,
                            type: 'DELETE',
                            success: successfulDelete() || $.noop
                            // error: alert("delete error") || $.noop
                        });
                        console.log("we are here");
                    }

}

function updateTable() {
                    $.ajax({
                   type    : "GET",
                   url     : "/cart/temp_cart",
                   dataType: "json",
                   data: {
                       product_id: "product_id",
                       quantity: "quantity",
                       cart_id: "cart_id",
                       product_name: "product_name",
                       rate: "rate",
                       price: "price"
                   },
                   success:function(data) {
                        $("#cart_table tbody").empty();
                        var table = $("#cart_table tbody");
                        $.each(data, function(idx, elem) {
                    table.append("<tr><td>"+elem.product_id+"</td><td>"+elem.product_name+"</td><td>"+elem.quantity+
                        "</td><td>"+elem.rate+"</td><td>"+elem.price+"</td><td><button onclick='deleteLine("+elem.product_id+
                        ")'>Delete</button></td></tr>");

                    });
                    }
                    });
                }

        updateLineQuantity();
        updateTable();
    </script>

</head>
<body>
<header th:replace="~{fragments/main_header::main_header}">Online Shop</header>
<nav th:replace="~{fragments/main_menu::main_menu}">Main Menu</nav>

<section>
  <h1>Cart Contents:</h1>
  <table class="flexme" id="cart_table" border="1">
    <thead>
    <tr>
      <th width="100">product_id</th>
      <th width="100">product_name</th>
      <th width="100">quantity</th>
      <th width="100">rate</th>
      <th width="100">price</th>
      <th width="100">Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr id="test">
      <td>empty table</td>
    </tr>
    </tbody>
  </table>
  <button>Check Out</button>
</section>

<footer th:replace="~{fragments/footer::footer}">&copy;2024 DP</footer>
</body>
</html>