<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Online Store</title>
</head>
<body>
<ol>
    <li>
        <a href="all_products_table.html">
            All Products
        </a>
    </li>
    <li>
        <a href="main_admin.html">
            Administrator
        </a>
    </li>
    <li>
        <a href="main_customer.html">
            Customer
        </a>
    </li>
    <li>
        <a href="register.html">
            Register
        </a>
    </li>
</ol>
</body>
</html>