<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script type="text/javascript" src="/js/updateCartLine.js"></script>
  <link rel="stylesheet" href="./css/style.css" th:href="@{/css/style.css}">
  <meta charset="UTF-8">
  <title>Product Info Page</title>

  <script>

        function numChange(obj) {
            var quantity = obj.value;
            var product_id = obj.closest("form").elements["product_id"].value;

            $.ajax({
                   type    : "POST",
                   url     : "/cart/temp_cart",
                   dataType: "json",
                   data: {
                       product_id: product_id,
                       quantity: quantity
                   },
                   success: function(data) {
                        //window.location.replace("all_products_table.html");
                        // alert("post function result");
                },
                   complete: function(data) {
                        // alert("cart update complete");
                        updateLineQuantity();
                   }
                   });

            // alert(obj.value);
            //alert(obj.closest("form").elements["product_id"].value);
        }

        function addToCart(product_id) {

            $.ajax({
                   type    : "POST",
                   url     : "/cart/temp_cart",
                   dataType: "json",
                   data: {
                       product_id: product_id
                   },
                   success: function(data) {
                        //window.location.replace("all_products_table.html");
                        // alert("post function result");
                   },
                   complete: function(data) {
                        // alert("cart update complete");
                        updateLineQuantity();
                   }
                   });
        }
    </script>

</head>
<body>
<header th:replace="~{fragments/main_header::main_header}">Online Shop</header>
<nav th:replace="~{fragments/main_menu::main_menu}">Main Menu</nav>
<section>
  <h1>Content:</h1>
      <p th:text="${product_name}"/>
      <input type="button" th:attr="onclick=|addToCart('${product_id}')|" value="Add to Cart">
</section>
<footer th:replace="~{fragments/footer::footer}">&copy;2024 DP</footer>
</body>
</html>