<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MVC Page Test</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script>
        $.ajax({
            url : 'http://localhost:8081/product/product_display',
            processData : false,
        }).always(function(b64data){
        $("#product_picture").attr("src", "data:image/png;base64,"+b64data);
        });
    </script>

</head>
<body>
    <p th:text="|Hello, ${name}!|" />
    <img id="product_picture" src="">
</body>
</html>